In [1]:
import requests
import pandas as pd
import io
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

headers = {'authorization': 'Bearer K9QgkNkAhAmYBWqKnzPSbPLdftoZGOZjof8EbJQJFaEup3id5iNZH'}
base_url = "https://public.enigma.com/api/"

pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
def snapshots_in_collection(collection_id):
    url = base_url + "datasets/?parent_collection_id=" + collection_id
    r = requests.get(url, headers=headers)
    datasets = r.json()
    return [
        dataset['current_snapshot']['id']
        for dataset in datasets
            if dataset['current_snapshot'] is not None
        ]
snap_shot_ids = snapshots_in_collection('9c9731dd-3b20-44fd-a58b-497c92ace407')

visas = pd.DataFrame()
dfs = []

for snap_shot in snap_shot_ids:
    url = base_url + 'export/{}'.format(snap_shot)
    response = requests.get(url, headers=headers).content
    df = pd.read_csv(io.StringIO(response.decode('utf-8')))
    dfs.append(df)
visas = pd.concat(dfs, ignore_index=True)

In [3]:
visas

,agent_attorney_city,agent_attorney_name,agent_attorney_state,agent_poc_employer_rep_by_agent,alien_work_state,basic_number_of_hours,basic_rate_of_pay,basic_unit_of_pay,case_no,case_number,...,supervise_other_emp,swa_name,trade_name_dba,training_req,training_required,visa_class,worksite_city,worksite_county,worksite_postal_code,worksite_state
0,MASHPEE,"JANE NICHOLS BISHOP / PEAK SEASON WORKFORCE, A...",MA,NaN,MA,NaN,11.32,HR,C-12039-58033,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
1,LOVINGSTON,"ELIZABETH D. WHITLEY/MASLABOR H2B, LLC",VA,NaN,GA,NaN,9.37,HR,C-12039-58034,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
2,ROSELAND,EVELYN AMANDA WRIGHT,VA,NaN,MS,NaN,9.02,HR,C-12039-58035,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
3,ABERDEEN,"KEVIN MICHAEL OPP/ EMPLOYMENT USA, LLC",SD,NaN,NE,NaN,7.94,HR,C-12039-58036,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
4,ROSELAND,EVELYN AMANDA WRIGHT/THE LABOR COMPANY LLC,VA,NaN,FL,NaN,8.17,HR,C-12039-58037,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
5,PORT CHESTER,"MARIO L DEMARCO/ LAW OFFICE OF MARIO DEMARCO, PC",NY,NaN,NY,NaN,7.81,HR,C-12039-58038,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
6,PITTSFIELD,MICHAEL DAVID HEFNER/RESOURCE STAFFING INTERNA...,VT,NaN,MA,NaN,9.85,HR,C-12039-58039,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
7,LOVINGSTON,"ELIZABETH D. WHITLEY / MASLABOR H2B, LLC",VA,NaN,NH,NaN,8.34,HR,C-12039-58040,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
8,LOVINGSTON,ELIZABETH D. WHITLEY/MAS LABOR H2A. LLC,VA,NaN,MO,NaN,9.43,HR,C-12039-58041,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
9,LOVINGSTON,"ELIZABETH D WHITLEY/ MASLABOR H2B, LLC",VA,NaN,VA,NaN,8.13,HR,C-12039-58042,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
10,LOVINGSTON,"ELIZABETH D. WHITLEY/MASLABOR H2B, LLC",VA,NaN,MT,NaN,8.22,HR,C-12039-58043,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
11,LOVINGSTON,"ELIZABETH D. WHITLEY / MASLABOR H2B, LLC",VA,NaN,NJ,NaN,8.56,HR,C-12039-58044,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
12,TWINSBURG,CAROLINE ANN MUELLER / SINTSIRMAS & MUELLER CO...,OH,NaN,OH,NaN,9,HR,C-12039-58045,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
13,ALBANY,LEONARD J. D'ARRIGO,NY,NaN,NY,NaN,9.99,HR,C-12039-58046,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
14,SEATTLE,ROBERT TERUO MIMBU,WA,NaN,AK,NaN,40.76,HR,C-12039-58047,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
15,LOVINGSTON,"ELIZABETH D. WHITLEY/MASLABOR H2B, LLC",VA,NaN,NY,NaN,9.2,HR,C-12039-58048,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
16,AURORA,JOEL V. ANDERSON,CO,NaN,WY,NaN,9.81,HR,C-12039-58049,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
17,BAY CITY,BRANDI COWAN / FEDERATION OF EMPLOYERS AND WOR...,TX,NaN,KS,NaN,8.8,HR,C-12039-58050,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
18,AUSTIN,JOHN MCNAMARA / THE MCNAMARA FIRM L.P.,TX,NaN,OH,NaN,9.91,HR,C-12039-58051,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
19,ABERDEEN,"KEVIN MICHAEL OPP/EMPLOYMENT USA, LLC",SD,NaN,SD,NaN,13.12,HR,C-12039-58052,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
20,BAY CITY,APRIL MCKINNEY,TX,NaN,LA,NaN,8.09,HR,C-12039-58053,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
21,NORMAN,"CRAIG DAVID MCDOUGAL / MILLIAM VELIE, ATTORNEY...",OK,NaN,IA,NaN,8.85,HR,C-12039-58054,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
22,COEUR D'ALENE,STEPHEN WARD,ID,NaN,ND,NaN,12.55,HR,C-12039-58055,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
23,ABERDEEN,"KEVIN MICHAEL OPP / EMPLOYMENT USA, LLC",SD,NaN,ND,NaN,13.93,HR,C-12039-58056,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
24,PITTSFIELD,MICHAEL DAVID HEFNER/RESOURCE STAFFING INTERNA...,VT,NaN,MA,NaN,9.55,HR,C-12039-58057,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
25,ABERDEEN,"KEVIN MICHAEL OPP / EMPLOYMENT USA, LLC",SD,NaN,ND,NaN,7.84,HR,C-12039-58058,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
26,PHOENIX,CHARLES JAN THURGOOD/CORPORATE & EMPLOYEE SERV...,AZ,NaN,WY,NaN,8.16,HR,C-12039-58059,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
27,ABERDEEN,"KEVIN MICHAEL OPP / EMPLOYMENT USA, LLC",SD,NaN,SD,NaN,7.96,HR,C-12039-58060,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
28,ABERDEEN,"KEVIN MICHAEL OPP/EMPLOYMENT USA, LLC",SD,NaN,ND,NaN,8.54,HR,C-12039-58061,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
29,PHILADELPHIA,"VALENTINE ANASTASIA BROWN/DUANE MORRIS, LLP",PA,NaN,NJ,NaN,8.13,HR,C-12039-58062,NaN,...,NaN,NaN,NaN,NaN,NaN,H-2B,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35458,COEUR D'ALENE,AMBER HELLER,ID,Y,NaN,35.0,$10.97,NaN,NaN,H-400-17233-071797,...,N,NaN,NaN,NaN,N,H-2B,Elberta,Baldwin,NaN,AL
35459,Frisco,Veronica Birkenstock,TX,Y,NaN,35.0,$11.11,NaN,NaN,H-400-17233-575938,...,N,NaN,Cheeca Lodge & Spa,NaN,N,H-2B,Islamorada,Monroe,NaN,FL
35460,COEUR D'ALENE,AMBER HELLER,ID,Y,NaN,35.0,$10.24,NaN,NaN,H-400-17233-663323,...,N,NaN,NaN,NaN,N,H-2B,Delano,Polk,NaN,TN
35461,Frisco,Veronica Birkenstock,TX,Y,NaN,35.0,$9.93,NaN,NaN,H-400-17234-040368,...,N,NaN,Cheeca Lodge & Spa,NaN,N,H-2B,Islamorada,Monroe,NaN,FL
35462,Los Angeles,CHAD BLOCKER,CA,Y,NaN,35.0,$12.65,NaN,NaN,H-400-17234-351579,...,N,NaN,NaN,NaN,N,H-2B,Vail,Eagle,NaN,CO
35463,NaN,NaN,NaN,N,NaN,40.0,$10.,NaN,NaN,H-400-17234-620852,...,N,NaN,NaN,NaN,N,H-2B,SOUTH JORDAN,SALT LAKE,NaN,UT
35464,NaN,NaN,NaN,N,NaN,40.0,$11.5,NaN,NaN,H-400-17234-646815,...,N,NaN,NaN,NaN,N,H-2B,Red River,Taos,NaN,NM
35465,CHARLOTTE,STEPHEN HADER,NC,Y,NaN,36.0,$13.41,NaN,NaN,H-400-17234-772374,...,N,NaN,NaN,NaN,N,H-2B,BRECKENRIDGE,SUMMIT,NaN,CO
35466,MAPLEWOOD,STEVEN SKLAR,NJ,Y,NaN,35.0,$27.22,NaN,NaN,H-400-17234-888189,...,N,NaN,NaN,NaN,N,H-2B,Somerset,Somerset,NaN,NJ
35467,TULSA,LESLI DOWNS,OK,Y,NaN,40.0,$17.5,NaN,NaN,H-400-17234-944536,...,N,NaN,NaN,NaN,N,H-2B,Devils Lake,Ramsey,NaN,ND
35468,Los Angeles,CHAD BLOCKER,CA,Y,NaN,35.0,$13.63,NaN,NaN,H-400-17234-961619,...,N,NaN,"Northstar California, part of the Vail Resorts...",NaN,N,H-2B,Truckee,Placer,NaN,CA
35469,Chicago,John ROTTIER,IL,Y,NaN,40.0,$12.5,NaN,NaN,H-400-17235-306423,...,N,NaN,As above,NaN,N,H-2B,Lincoln,--,NaN,NE
35470,Frisco,Veronica Birkenstock,TX,Y,NaN,35.0,$10.06,NaN,NaN,H-400-17235-442131,...,N,NaN,Cheeca Lodge & Spa,NaN,N,H-2B,Islamorada,Monroe,NaN,FL
35471,Frisco,Veronica Birkenstock,TX,Y,NaN,35.0,$10.6,NaN,NaN,H-400-17235-527901,...,N,NaN,Cheeca Lodge & Spa,NaN,N,H-2B,Islamorada,Monroe,NaN,FL
35472,NaN,NaN,NaN,N,NaN,35.0,$11.17,NaN,NaN,H-400-17236-136595,...,N,NaN,"MARDENBOROUGH & ASSOCIATES, LLC",NaN,N,H-2B,Havre de Grace,Harford,NaN,MD
35473,NaN,NaN,NaN,N,NaN,40.0,$16.,NaN,NaN,H-400-17236-377215,...,N,NaN,NaN,NaN,N,H-2B,Bend,Deschutes,NaN,OR
35474,MIAMI,EMILIO MARTINEZ,FL,Y,NaN,35.0,$13.34,NaN,NaN,H-400-17238-526611,...,N,NaN,THE CLUB AT IBIS,NaN,N,H-2B,West Palm Beach,Palm Beach,NaN,FL
35475,MIAMI,EMILIO MARTINEZ,FL,Y,NaN,35.0,$11.88,NaN,NaN,H-400-17238-851365,...,N,NaN,THE CLUB AT IBIS,NaN,N,H-2B,West Palm Beach,Palm Beach,NaN,FL
35476,GLEN ALLEN,JOSEPH BISHOP,VA,Y,NaN,35.0,$11.63,NaN,NaN,H-400-17240-180969,...,N,NaN,NaN,NaN,N,H-2B,BOCA GRANDE,LEE,NaN,FL
35477,COEUR D'ALENE,AMBER HELLER,ID,Y,NaN,35.0,$10.03,NaN,NaN,H-400-17240-496671,...,N,NaN,NaN,NaN,N,H-2B,BULLARD,CHEROKEE,NaN,TX
35478,WESTBURY,JOHN GISMONDI,NY,Y,NaN,35.0,$12.66,NaN,NaN,H-400-17241-258488,...,N,NaN,THE HERMITAGE CLUB,NaN,N,H-2B,WEST DOVER,WINDHAM,NaN,VT
35479,COEUR D'ALENE,STEPHEN WARD,ID,Y,NaN,35.0,$12.15,NaN,NaN,H-400-17241-437694,...,N,NaN,NaN,NaN,N,H-2B,Marion,McDowell,NaN,NC
35480,"NEW YORK, NEW YORK",MATILDE RECALDE,NY,Y,NaN,40.0,$40.28,NaN,NaN,H-400-17241-732950,...,Y,NaN,Same as above,NaN,N,H-2B,Louisville,Jefferson,NaN,KY
35481,MIAMI BEACH,GIANNI MENDES TONIUTTI,FL,Y,NaN,40.0,$58.48,NaN,NaN,H-400-17242-344524,...,N,NaN,ORA,NaN,N,H-2B,Miami Beach,Miami-Dade,NaN,FL
35482,ALBANY,LEONARD D'ARRIGO,NY,Y,NaN,35.0,$13.29,NaN,NaN,H-400-17243-031518,...,N,NaN,NaN,NaN,N,H-2B,Elmont,Nassau,NaN,NY
35483,NaN,NaN,NaN,N,NaN,40.0,$16.,NaN,NaN,H-400-17244-195061,...,N,NaN,NaN,NaN,N,H-2B,Bend,Deschutes,NaN,OR
35484,LIVINGSTON,Terri White,LA,Y,NaN,35.0,$12.63,NaN,NaN,H-400-17245-100859,...,N,NaN,NaN,NaN,N,H-2B,St. Amant,Ascension,NaN,LA
35485,COEUR D'ALENE,STEPHEN WARD,ID,Y,NaN,35.0,$9.6,NaN,NaN,H-400-17248-033616,...,N,NaN,NaN,NaN,N,H-2B,Saluda,Saluda,NaN,SC
35486,NaN,NaN,NaN,N,NaN,40.0,$14.91,NaN,NaN,H-400-17254-644170,...,N,NaN,Texas Sprinkler,NaN,N,H-2B,Grapevine,Tarrant,NaN,TX
35487,AVON,CHRISTOPHER POOLEY,CO,Y,NaN,35.0,$11.54,NaN,NaN,H-400-17261-993934,...,N,NaN,NaN,NaN,N,H-2B,Crested Butte,Gunnison,NaN,CO

In [4]:
visas_sub = visas[['case_number',
 'case_status',
 'certification_begin_date',
 'certification_end_date',
 'employer_name',
 'employer_city',
 'employer_state',
 'employer_country',
 'job_title',
 'nbr_workers_requested',
 'nbr_workers_certified',
 'full_time_position',
 'nature_of_temporary_need',
 'emp_experience_reqd',
 'worksite_city',
 'worksite_state',
]]

In [5]:
visas_sub.isnull().sum()

case_number                  3199
case_status                     0
certification_begin_date       24
certification_end_date         27
employer_name                   5
employer_city                   6
employer_state                  7
employer_country            13382
job_title                      44
nbr_workers_requested       10183
nbr_workers_certified        3060
full_time_position          13387
nature_of_temporary_need    13390
emp_experience_reqd         13385
worksite_city               17474
worksite_state              13385
dtype: int64

In [6]:
visas_sub = visas_sub.dropna(subset=['nbr_workers_requested', 'certification_begin_date', 'certification_end_date'])

In [7]:
visas_sub['nbr_workers_certified'] = visas_sub['nbr_workers_certified'].fillna(0)

In [8]:
visas_sub[['case_number',
 'case_status',
 'employer_name',
 'employer_city',
 'employer_state',
 'employer_country',
 'job_title',
 'full_time_position',
 'nature_of_temporary_need',
 'emp_experience_reqd',
 'worksite_city',
 'worksite_state']] = visas_sub[['case_number',
 'case_status',
 'employer_name',
 'employer_city',
 'employer_state',
 'employer_country',
 'job_title',
 'full_time_position',
 'nature_of_temporary_need',
 'emp_experience_reqd',
 'worksite_city',
 'worksite_state']].astype(str)

In [9]:
visas_sub['certification_begin_date'] = pd.to_datetime(visas_sub.certification_begin_date, format = '%Y%m%dT%H:%M:%S')
visas_sub['certification_end_date'] = pd.to_datetime(visas_sub.certification_end_date, format = '%Y%m%dT%H:%M:%S')

In [10]:
visas_sub['percent_certified'] = visas_sub.nbr_workers_certified/visas_sub.nbr_workers_requested

In [11]:
visas_sub.describe()

       nbr_workers_requested  nbr_workers_certified  percent_certified
count           25288.000000           25288.000000       25279.000000
mean               19.985685              16.366617           0.795920
std                31.442968              28.870363           0.398431
min                 0.000000               0.000000           0.000000
25%                 5.000000               3.000000           0.920000
50%                11.000000               9.000000           1.000000
75%                24.000000              20.000000           1.000000
max              1000.000000             971.000000          14.000000

In [12]:
dummy_df = pd.get_dummies(visas_sub.nature_of_temporary_need)
visas_sub = pd.concat([visas_sub, dummy_df], axis=1)

In [13]:
visas_sub['Peakload'].sum()

9808

In [14]:
visas_sub = visas_sub.rename(columns=
                             {'Intermittent or Other Temporary Need': 'other_temp', 
                              'One-Time Occurrence': 'one_time_occurrence', 
                              'Peakload': 'peakload', 
                              'Seasonal': 'seasonal'})

In [15]:
visas_sub = visas_sub[[
 'case_number',
 'case_status',
 'certification_begin_date',
 'certification_end_date',
 'employer_name',
 'employer_city',
 'employer_state',
 'employer_country',
 'job_title',
 'nbr_workers_requested',
 'nbr_workers_certified',
 'percent_certified',
 'full_time_position',
 'nature_of_temporary_need',
 'other_temp',
 'one_time_occurrence',
 'peakload',
 'seasonal',
 'emp_experience_reqd',
 'worksite_city',
 'worksite_state',
]]

In [16]:
visas_sub = visas_sub[visas_sub.case_status != 'Withdrawn']
visas_sub = visas_sub[visas_sub.nature_of_temporary_need != 'NaN']
visas_sub = visas_sub[visas_sub.nature_of_temporary_need != 'nan']

In [17]:
visas_sub = visas_sub[np.isfinite(visas_sub.percent_certified)]

In [18]:
visas_sub = visas_sub.drop(visas_sub[visas_sub.percent_certified == 14.0].index)

In [19]:
list(visas_sub)

['case_number',
 'case_status',
 'certification_begin_date',
 'certification_end_date',
 'employer_name',
 'employer_city',
 'employer_state',
 'employer_country',
 'job_title',
 'nbr_workers_requested',
 'nbr_workers_certified',
 'percent_certified',
 'full_time_position',
 'nature_of_temporary_need',
 'other_temp',
 'one_time_occurrence',
 'peakload',
 'seasonal',
 'emp_experience_reqd',
 'worksite_city',
 'worksite_state']

In [20]:
visas_model = visas_sub[[
 'case_status',
 'certification_begin_date',
 'certification_end_date',
 'employer_state',
 'nbr_workers_requested',
 'percent_certified',
 'other_temp',
 'one_time_occurrence',
 'peakload',
 'seasonal',
]]

> Predict case_status: Denied, Partial Certification, Certification

> Classification

> y = case_status

> X = certification_beging_date, certification_end_date, employer_state, nbr_workers_requested, nature_of_temporary_need(other_temp, one_time_occurrence, peakload, seasonal)

In [22]:
dummy_df2 = pd.get_dummies(visas_model.employer_state, drop_first=True)
visas_model = pd.concat([visas_model, dummy_df2], axis=1)
visas_model = visas_model.drop('employer_state', axis=1)

In [23]:
visas_model['month'] = pd.DatetimeIndex(visas_model['certification_begin_date']).month
visas_model = visas_model.drop(visas_model[['certification_begin_date','certification_end_date']], axis=1)

In [24]:
conditions = [
    (visas_model['case_status'] == 'Partial Certification'),
    (visas_model['case_status'] == 'Certification'),
    (visas_model['case_status'] == 'Denied')]
choices = [1, 2, 0]
visas_model['case_status'] = np.select(conditions, choices)

In [26]:
from sklearn.neighbors import KNeighborsClassifier

X = visas_model.drop('case_status', axis=1)
y = visas_model.case_status

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
knn.score(X_test, y_test)

0.8252704633598693

In [27]:
from sklearn.model_selection import cross_val_score
cv_results = cross_val_score(knn, X, y, cv=5)
print(cv_results)
np.mean(cv_results)

[0.85233359 0.79438776 0.82669729 0.81572231 0.80806534]

0.8194412569537869